<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Course Description</h2>
                <hr class="light">
                <h3>
                <p>This course introduces students to developments in modern tabletop gaming. Students will analyze the mechanics and thematics that tabletop games use to create narratives. Particular attention will be paid to the values and stories that emerge from the decisions made by designers. This course culminates in a capstone project in which students create their own tabletop game. No prior experience with tabletop gaming is required.</p>
                </h3>
            </div>
        </div>
    </div>
</section>
