<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact & Office Hours</h2>
                <hr class="primary">
                <p><strong>Email:</strong>a href="mailto: sgotzler@unc.edu">sgotzler@unc.edu</a></p>
                <p><strong>Zoom:</strong><a href="https://unc.zoom.us/j/6036637992">https://unc.zoom.us/j/6036637992</a></p>
                <p><strong>Office Hours</strong> Greenlaw Hall 313, Fall 2025 Hours TBD</p>
            </div>
    </div>
</section>
