<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resources & Materials</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-trophy wow bounceIn text-primary"></i>
                    <h3>Gameplay Activities</h3>
                    <p class="text-muted">Learning Through Critical Play</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary"></i>
                    <h3>Readings</h3>
                    <p class="text-muted">Exploring Cultural History and Design Theory</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Syllabus</h3>
                    <p class="text-muted">Course Policies and Procedures</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Design Projects</h3>
                    <p class="text-muted">Crafting Original Board Games</p>
                </div>
            </div>
        </div>
    </div>
</section>
